<p>
  Bonjour,
</p>

<p>
  Vous trouverez ci-joint la visite mensuelle de votre serveur pour le mois <%= @localized_montly_remort_name %>.
  <br>
  Merci de prêter attention aux éventuels commentaires figurant sur la partie basse.
</p>

<p>
  Cordialement,
</p>

<p>
  <%= image_tag(tech_visit_card_url(@monthly_report.tech)) %>
</p>
